[build]
  command = "# no build command"
  functions = "netlify/functions"
  publish = "."

[functions]
  node_bundler = "esbuild"

[[redirects]]
  from = "/docs"
  to = "/docs.html"
  status = 200

[[redirects]]
  from = "/api/versions"
  to = "/.netlify/functions/versions"
  status = 200

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200
